<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>1只狗</string>
		<key>icon</key>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=231680329,4061032957&amp;fm=23&amp;gp=0.jpg</string>
		<key>download</key>
		<string>10311万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>两只狗</string>
		<key>icon</key>
		<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=1753400670,4195018547&amp;fm=23&amp;gp=0.jpg</string>
		<key>download</key>
		<string>9982万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>三只狗</string>
		<key>icon</key>
		<string>https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=207569516,317147768&amp;fm=23&amp;gp=0.jpg</string>
		<key>download</key>
		<string>8582万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>很多狗</string>
		<key>icon</key>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=3825956714,4199937667&amp;fm=23&amp;gp=0.jpg</string>
		<key>download</key>
		<string>5910万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>一只猫</string>
		<key>icon</key>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1969808864,2241182770&amp;fm=23&amp;gp=0.jpg</string>
		<key>download</key>
		<string>5082万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>两只猫</string>
		<key>icon</key>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=448291316,2251556253&amp;fm=23&amp;gp=0.jpg</string>
		<key>download</key>
		<string>3918万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>一只兔</string>
		<key>icon</key>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3658674539,2758647781&amp;fm=23&amp;gp=0.jpg</string>
		<key>download</key>
		<string>3681万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>两只兔</string>
		<key>icon</key>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2982491685,1411869157&amp;fm=23&amp;gp=0.jpg</string>
		<key>download</key>
		<string>3645万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>一只鼠</string>
		<key>icon</key>
		<string>https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2962775467,563366871&amp;fm=23&amp;gp=0.jpg</string>
		<key>download</key>
		<string>3552万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>一只蝴蝶</string>
		<key>icon</key>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=109256078,1800708174&amp;fm=21&amp;gp=0.jpg</string>
		<key>download</key>
		<string>3487万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>两只蝴蝶</string>
		<key>icon</key>
		<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3797952363,3477693794&amp;fm=21&amp;gp=0.jpg</string>
		<key>download</key>
		<string>3117万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>一匹马</string>
		<key>icon</key>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2914654781,2656093657&amp;fm=21&amp;gp=0.jpg</string>
		<key>download</key>
		<string>2386万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>两匹马</string>
		<key>icon</key>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=284695568,3359387016&amp;fm=21&amp;gp=0.jpg</string>
		<key>download</key>
		<string>2166万</string>
	</dict>
</array>
</plist>
